:root{
    --Color-Head-Page: #EEEEEE;
    --Color-BackGround: #fff;
    --Color-s: silver;
    --Color-Head-Page: #EEEEEE;
    --Color-but-main-text: white;
    --Color-Text: black;
    --Color-Head-Button: #ffffff00;
    --Color-Hover-Head-But-Silver: silver;
    --Color-Main-Button: #c1e1c11b;
    --Color-Hover-Main-But: #c1e1c157;
    --Color-BackGround: #fff;
    --Color-Border: rgb(109, 109, 109);
    --Color-Form: #eeeeee9f;
    --Color-Input: #fffdd000;
    --Color-Form-Border: rgba(145, 145, 145, 0.464);
    --Font-Size: 14px;
}

*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 0px 10px 0px 10px;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Color-Head-Page); 
    z-index: 2;
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_logo{
    flex: 0 0 60px;
    /* border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 3 ;
}

.header_logo img{
  height: 60px;
  width: 60px;
}

/* Footer */
.Footer{
    background-color: var(--Color-Head-Page);
    padding: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20.3px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer img{
  height: 60px;
  width: 60px;
}

.header_burger{
    display: none;
}

/* .header_menu{} */

.header_list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header_list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header_link{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

/* Navigation */
.header_link:hover{
  font-size: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header_link.active{
  color: rgb(162, 162, 162);
}

@media (max-width:767px){

    body.lock{
        overflow: hidden;
    }

    .header_body{
        height: 50px;
    }

    .header_logo{
        flex: 0 0 40px;
    }

    .header_logo img{
      height: 40px;
      width: 40px;
    }
    
    .Footer img{
      height: 40px;
      width: 40px;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header_burger span{
        position: absolute;
        background-color: var(--Color-s);
        left: 0;
        width: 100%;
        height: 2px;
        top: 50%;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: var(--Color-s);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:hover span,
    .header_burger:hover:before,
    .header_burger:hover:after {
        background-color: rgb(162, 162, 162);
    }

    .header_burger:before{
        top: 10%;
    }
    .header_burger:after{
        bottom: 0;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: #dadada;
        padding: 70px 10px 20px 10px;
    }

    .header_menu.active{
        top: 0;
    }

    .header_list{
        display: block;
    }
    .header_list li{
        margin: 0px 0px 20px 0px;
    }

    .header_link{
        font-size: 18px;
    }
}

/* Main */

.content {
    background-color: #CEDCEC;
    background-image: url("back.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    min-height: 1000px;
    height: auto;
    max-width: 100%;
}

.content_container{
    padding: 50px 35px 0;
    height: auto;
    width: 30%;
    background: var(--Color-BackGround);
    position: absolute;
    left: 50%;
    top: 110px;
    border-radius: 15px;
    overflow: hidden;
    transform: translateX(-50%); /* Додаємо це для центрування */
    display: flex;
    justify-content: center;
/* ----------------------------------------- */
    background-color: #eeeeee9f;
    height: 680px;
    width: 400px;
    border-radius: 35px;
    text-align: center;
    border: 1px solid var(--Color-Form-Border);
    border-bottom: 5px solid var(--Color-Form-Border);
    border-right: 5px solid var(--Color-Form-Border);
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.Form-Regestration{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.Form-Label{
    display: block;
    font-size: 18px;
    color: var(--Color-Text);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.Form-Reg-Name-Input, .Form-Reg-Pass-Input, .Form-Reg-Repass-Input{
    display: block;
    height: 25px;
    width: 150px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--Color-Text);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:  var(--Color-Input);
    border-bottom: 3px solid var(--Color-Border);
    margin-bottom: 35px;
    margin-top: 15px;
    text-align: center;
}

.Form-Reg-Pass-TextArea{
    height: 60px;
    width: 140px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Form-Reg-Name-Input:focus, .Form-Reg-Pass-Input:focus, .Form-Reg-Repass-Input:focus, .Form-Reg-Pass-TextArea:focus{
    background-color: var(--Color-Hover-Head-But-Silver);
}

.Form-Question{
    font-size: var(--Font-Size);
    font-family: 'Times New Roman', Times, serif;
    color: var(--Color-Text);
}

.Button-Registration-Museum{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: var(--Color-Text);
  background-color: var(--Color-Hover-Head-But-Silver);
  border: none;
  border-radius: 25px;
  width: 150px;
  height: 35px;
  text-align: center;
  border: 3px solid var(--Color-Border);
  border-top: none;
  position: absolute;
  bottom: 80px;
  left: 124px;
  transition: all 0.3s ease;
}

.Button-Registration-Museum:hover{
    cursor: pointer;
    width: 147px;
    height: 33px;
    background-color: var(--Color-Border);
}

.Linked-Authorization{
    font-size: var(--Font-Size);
    font-family: 'Times New Roman', Times, serif;
    color: var(--Color-Text);
    font-weight: 600;
    position: relative;
    z-index: 1;
    left: 5px;
    bottom: 0;
}

.Linked-Authorization:hover{
    color: var(--Color-Border);
}

@media (max-width:767px){
    .content_container{
        height: 560px;
        width: 280px;
        padding-top: 7%;
    }

    .Form-Label{
        font-size: 16px;
        margin-top: 15px;
    }

    .Form-Reg-Name-Input, .Form-Reg-Pass-Input, .Form-Reg-Repass-Input{
        height: 20px;
        width: 120px;
        font-size: 12px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .Form-Reg-Pass-TextArea{
        height: 40px;
        width: 60px;
        font-size: 12px;
        margin-bottom: 18px;
        margin-top: 10px;
    }

    .Form-Question{
        font-size: 10px;
    }

    .Linked-Authorization{
        font-size: 10px;
    }

    .Button-Registration-Museum{
        font-size: 14px;
        width: 120px;
        height: 30px;
        left: 80px;
        bottom: 60px;
    }
}